.hanging-indent.csl-entry {
  margin-left: 0;
  text-indent: 0;
}
.csl-entry .csl-left-margin {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;
  font-weight: 600;
}

.csl-entry .csl-right-inline {
  margin-left: 8rem;
  padding-left: 0;
}
